[Unit]
Description=Self-care service

[Service]
Type=simple
StandardOutput=journal
ExecStart=/bin/bash -c 'python /home/${USER}/.local/bin/konfirmations.py'

[Install]
WantedBy=default.target